In [199]:
import pandas as pd
import sqlite3
import os

if not os.getcwd().endswith('/run'):
    os.chdir('run')

DBNAME = "state.db"

In [200]:
with sqlite3.connect(DBNAME) as conn:
    df = pd.read_sql("SELECT * FROM pages", conn)
df

,sid,url,depth,status,attempts,inserted_at,last_attempt,error
0,1,https://books.toscrape.com/index.html,0,visited,1,2025-07-08 13:03:34,2025-07-08 13:03:34,None
1,2,https://books.toscrape.com/catalogue/category/...,1,visited,1,2025-07-08 13:03:35,2025-07-08 13:03:36,None
2,3,https://books.toscrape.com/catalogue/category/...,1,visited,1,2025-07-08 13:03:35,2025-07-08 13:03:37,None
3,4,https://books.toscrape.com/catalogue/category/...,1,visited,1,2025-07-08 13:03:35,2025-07-08 13:03:38,None
4,5,https://books.toscrape.com/catalogue/category/...,1,visited,1,2025-07-08 13:03:35,2025-07-08 13:03:39,None
...,...,...,...,...,...,...,...,...
478,479,https://books.toscrape.com/catalogue/birdsong-...,2,queued,0,2025-07-08 13:05:56,None,None
479,480,https://books.toscrape.com/catalogue/the-four-...,2,queued,0,2025-07-08 13:05:56,None,None
480,481,https://books.toscrape.com/catalogue/the-bear-...,2,queued,0,2025-07-08 13:05:56,None,None
481,482,https://books.toscrape.com/catalogue/page-1.html,2,queued,0,2025-07-08 13:05:56,None,None
482,483,https://books.toscrape.com/catalogue/page-3.html,2,queued,0,2025-07-08 13:05:56,None,None

In [201]:
with sqlite3.connect(DBNAME) as conn:
    df = pd.read_sql("SELECT * FROM pages WHERE status = 'failed'", conn)
df.groupby('error')['sid'].count().to_frame().sort_values('sid', ascending=False)

                                sid
error
simulated connection error       16
Non-Retryable HTTP error [400]    6
Non-Retryable HTTP error [404]    5
Non-Retryable HTTP error [501]    4
Retryable HTTP error [504]        3
Non-Retryable HTTP error [401]    2
Non-Retryable HTTP error [403]    2
Retryable HTTP error [502]        2
Retryable HTTP error [500]        1
Retryable HTTP error [503]        1

In [202]:
with sqlite3.connect(DBNAME) as conn:
    df = pd.read_sql("SELECT * FROM pages WHERE status = 'failed' AND error LIKE 'write%'", conn)
df

Empty DataFrame
Columns: [sid, url, depth, status, attempts, inserted_at, last_attempt, error]
Index: []

In [203]:
with sqlite3.connect(DBNAME) as conn:
    df = pd.read_sql("SELECT * FROM pages WHERE status = 'queued'", conn)
df

,sid,url,depth,status,attempts,inserted_at,last_attempt,error
0,165,https://books.toscrape.com/catalogue/the-death...,2,queued,0,2025-07-08 13:03:44,None,None
1,166,https://books.toscrape.com/catalogue/the-stran...,2,queued,0,2025-07-08 13:03:44,None,None
2,167,https://books.toscrape.com/catalogue/proofs-of...,2,queued,0,2025-07-08 13:03:44,None,None
3,168,https://books.toscrape.com/catalogue/kierkegaa...,2,queued,0,2025-07-08 13:03:44,None,None
4,169,https://books.toscrape.com/catalogue/at-the-ex...,2,queued,0,2025-07-08 13:03:44,None,None
...,...,...,...,...,...,...,...,...
314,479,https://books.toscrape.com/catalogue/birdsong-...,2,queued,0,2025-07-08 13:05:56,None,None
315,480,https://books.toscrape.com/catalogue/the-four-...,2,queued,0,2025-07-08 13:05:56,None,None
316,481,https://books.toscrape.com/catalogue/the-bear-...,2,queued,0,2025-07-08 13:05:56,None,None
317,482,https://books.toscrape.com/catalogue/page-1.html,2,queued,0,2025-07-08 13:05:56,None,None
318,483,https://books.toscrape.com/catalogue/page-3.html,2,queued,0,2025-07-08 13:05:56,None,None